
@media screen and (min-width: 641px) and (max-width: 1024px) {
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .hamburger {
    display: none;
  }

  nav li {
    flex: 1;
    text-align: center;
  }

  .grid-view {
    grid-template-columns: repeat(2, 1fr);
  }

  .list-view .directory-card {
    grid-template-columns: 100px 1fr 1fr;
  }

  /* Footer */
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .footer-info {
    flex-direction: row;
    align-items: center;
  }

  .footer-logo {
    margin-right: 1rem;
  }

  .home-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }

  .hero-container {
    grid-column: 1 / -1;
  }

  .events-section {
    grid-column: 1 / -1;
  }

  .weather-section,
  .forecast-section {
    grid-column: span 1;
  }

  .spotlight-section {
    grid-column: 1 / -1;
  }

  .spotlight-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .demographics-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .attractions-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "card1 card2"
      "card3 card4"
      "card5 card6"
      "card7 card8";
  }

  .attraction-card:nth-child(1) {
    grid-area: card1;
  }

  .attraction-card:nth-child(2) {
    grid-area: card2;
  }

  .attraction-card:nth-child(3) {
    grid-area: card3;
  }

  .attraction-card:nth-child(4) {
    grid-area: card4;
  }

  .attraction-card:nth-child(5) {
    grid-area: card5;
  }

  .attraction-card:nth-child(6) {
    grid-area: card6;
  }

  .attraction-card:nth-child(7) {
    grid-area: card7;
  }

  .attraction-card:nth-child(8) {
    grid-area: card8;
  }
}

